.top
  .top__title
    .top__title__logo
      MITETE!!
    .top__title__search
      .top__title__search__box
        search
  .top__menue
    
    .top__menue__item
      メンズ
    .top__menue__item
      レディース
    .top__menue__item
      キッズ
    .top__menue__item
      パーカー
    .top__menue__item
      スウェット
    .top__menue__item
      Tシャツ
    .top__menue__item
      ロンパース
    .top__menue__item
      アウター