.wrapper
  = render "shared/side_bar"
  - if user_signed_in?
    .main-image
      新着アイテム
      - if @new.present?
        = render "shared/new-list", { new: @new }
    .main-image
      ランキング
      - if @good_ranks.present?
        = render "shared/new-list", { new: @good_ranks }
    .submit-button
      = link_to new_tweet_path,class:"submit-button__link" do
        .submit-button__content 
          %span.submit-button__content__text 投稿する
          .submit-button__content__picture
            %i.fas.fa-tshirt
  - else 
    ログインしてね！
  