.item
  .item__title
    .item__title__title
      投稿アカウント名
  .item__image
    投稿する写真を選択
  .item__date
    .item__date__catedategory
      <カテゴリー>　パーカー
    .item__date__comment
      投稿時のコメント
    .item__date__bottan
      .item__date__bottan__good
        キャンセル
      .item__date__bottan__shop
        投稿する
    