.item
  .item__title
    .item__title__name
      = link_to "/",class:"item__title__name" do
        ←
      投稿アカウント名
  .item__image
    aaa
  .item__date
    .item__date__catedategory
      <カテゴリー>　パーカー
    .item__date__bottan
      .item__date__bottan__good
        いいね！
      .item__date__bottan__shop
        SHOP
    .item__date__comment
      投稿時のコメント