.item{
  &__title{
    background-color: #fff;
    padding: 0 0 1% 20%;
    
    &__title{
      padding: 25px 0 0 0;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
    }
    
  }
  &__contents{
    border: 1px solid;
    padding: 64px;
    &__photoflame{
      &__container{
        margin-bottom: 10px;
        width: 620px;
        &__label-box{
          display: block;
          border: 1px dashed #ccc;
          position: relative;
          background: #f5f5f5;
          width: 100%;
          height: 162px;
          cursor: pointer;
          &__text-visible{
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
      }
    }
  }
  &__form{
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 20px 0 0 0;
  }
  &__image{
    padding: 64px;
    height: 150px;
    margin: 0 auto 0 auto;
    position: relative;
    &__hidden{
      position: absolute;
      padding: 64px;
      background-color:grey;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%)
    }
  }
  &__date{
    // display: flex;
    flex-direction: column;
    &__catedategory{
      float: left;
      height: 100px;
      width: 200px;
      margin-top: 24px;
      margin-left: 50px;
      background-color: #f3e300;
      position: relative;
    }
    &__bottan{
      display: flex;
      margin-left: 50px;
      margin-top: 30px;
      &__good{
        background-color: #6ebe76;
        height: 50px;
        width: 150px;
      }
      &__shop{
        margin-left: 60px;
        &__send {
          display: inline-block;
          width: 180px;
          height:50px;
          text-align: center;
          background-color: #9ec34b;
          font-size: 16px;
          line-height: 52px;
          color: #FFF;
          text-decoration: none;
          font-weight: bold;
          border: 2px solid #9ec34b;
          position: relative;
          overflow: hidden;
          z-index: 1;
        }
       
      }

    }
    &__comment{
      &__title{
        width: 650px;
        height: 50px;
      }
      &__text{
        height: 140px;      
        width: 650px;
      }
    }
  }
  
}

.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
}

  //プレビュー表示欄のCSS
.prev-content {
  display: flex;
  .preview-box {
    height: 162px;
    width: 112px;
    margin: 0 15px 10px 0;
    .upper-box {
      height: 112px;
      width: 100%;
      img{
        width: 112px;
        height: 112px;
      }
    }
    .lower-box {
      display: flex;
      text-align: center;
      .delete-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}

.hidden-field {
  display: none;
}

.first {
  display: inherit;
  height: 30px;
  width: 290px;
  padding: 3px 30px;
  margin: 0 160px 30px 160px;
  font-size: 17px;
  color: #ffffff;
  background-color: #384878;
  cursor: pointer;
}