.item{
  &__title{
    background-color: #fff;
    padding: 0 0 1% 20%;
    
    &__title{
      padding: 25px 0 0 0;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
    }
    
  }
  &__contents{
    padding: 64px;
  }
  &__form{
    width: 990px;
    margin: 0 auto 0 auto;
    padding: 20px 0 0 0;
  }
  &__image{
    padding: 64px;
    height: 368px;
    margin: 0 auto 0 auto;
    position: relative;
    &__hidden{
      position: absolute;
      padding: 64px;
      background-color:grey;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%)
    }
  }
  &__date{
    display: flex;
    flex-direction: column;
    &__catedategory{
      float: left;
      height: 100px;
      width: 200px;
      margin-top: 24px;
      margin-left: 50px;
      background-color: #f3e300;
      position: relative;
    }
    &__bottan{
      display: flex;
      margin-left: 50px;
      margin-top: 30px;
      &__good{
        background-color: #6ebe76;
        height: 50px;
        width: 150px;
      }
      &__shop{
        margin-left: 60px;
        &__send {
          display: inline-block;
          width: 180px;
          height:50px;
          text-align: center;
          background-color: #9ec34b;
          font-size: 16px;
          line-height: 52px;
          color: #FFF;
          text-decoration: none;
          font-weight: bold;
          border: 2px solid #9ec34b;
          position: relative;
          overflow: hidden;
          z-index: 1;
        }
       
      }

    }
    &__comment{
      background-color: #fff426;
      margin-left: 50px;
      margin-top: 10px;
      position: relative;
      width: 450px;
      height: 300px;
      &__text{
        position: absolute;
        // background-color: #f8f398;
        width: 420px;
        height: 270px;
        // padding: 20px;             
        top:  10px;                   
        bottom:  10px;                  
        left:  10px;                   
        right:  10px;                   
        margin:  auto;    
      }
    }
  }
  
}