.test{
  border: 1px solid;
  background-color: #ffffff;
  height: 90vh;

}
.tags{
  display: flex;
}
.iitem-image{
  float: left;
}
.iitem{
  padding-top: 150px;
  display: block;
  margin: 0 25% 3% 25%;
  &__title{
    padding-left: 20px;
    display: flex;
    
    &__name{
      font-size: 30px;
      padding-top: 30px;
      display: inline-block;
      text-decoration: none;
    }
    &__nam{
      font-size: 2em;
      margin-top: 22px;
      color: #666;
      margin-left: 20px;
     
    }
    
    
  }
  &__image{
    height: 25vw;
    width: 20vw;
    background-color: #7ecce0;
    margin: 20px;
    position: relative;
    &__photo{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%);
      &__list{
        object-fit: cover;
        height: 3.9vw;
        width: 3.7vw;
        border: 1px solid;
      }
    }
  }
  &__sub-image{
    margin: 20px;
  }
  &__date{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 65vh;
    border: 1px solid;
    margin: 20px 0 0 23.5vw;
    &__catedategory{
      font-size: 2vw;
      text-align: center;
      padding-top: 10px;
      color: #666;
      &__brand{
        font-size: 1vw;
        text-align: left;
        padding: 3px
      }
      &__tag{
        font-size: 1vw;
        margin-left: 5px;
        color: #ffff;
        background-color: #fdb241;
        width: 20%;
        border-radius: 25px 0px 0px 25px
      }
    }
    &__bottan{
      display: flex;
      margin-top: 3vh;
      &__good{
        display: flex;
        padding-left: 10px;
        &__push{
          font-size: 1vw;
          width: 10vw;
          height: 2vw;
          margin-left: 7vw;
          text-decoration: none;
          background-color: #ffffff;
          color: #ff7c5c;
          font-weight: bold;
        }
      }
      &__shop{
        background-color: #88cfe1;
        font-size: 1vw;
        padding-top: 1.2vh;
        margin-left: 1vw;
        text-align: center;
        width: 10vw;
        height: 2vw;
        margin-bottom: 2vh;
        a {
          color: #ffffff;
        }
      }

    }
    &__comment{
      margin-top: 2.5vh;
      padding: 1vw;
      font-size: 1.2vw;
      color: rgb(69, 69, 69);
      border-top: 1px dashed rgb(120, 120, 120);
    }
  }
  
}

.flex{
  display: flex;
}