.item{
  width: 100%;
  &__box{
    background-color: #ffffff;
    border: 1px rgb(198, 198, 198) solid;
    color: white;
    height: 43vh;
    width: 15vw;
    position: relative;
    float: left;
    margin: 10px;
    margin-bottom: 8vh;
    &__view{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%)
      // z-index: 1;
    }
    &__category{
      position: absolute;
    }
    &__text{
      position: absolute;
      margin-top: 280px;
      font-size: 25px;
    }
    &__box{
      margin-left: 13vw;
    }
    &__delete{
      position: absolute;
      text-decoration: none;
      font-size: 2vw;
      color: #bd5e8a;
    }
  }
  &__name{
    position: absolute;
    top: 43vh;
    font-size: 1.1vw;
    background:  #ffffff;;
    border: 1px rgb(198, 198, 198) solid;
    display: flex;
    width: 100%;
    height: 15%;
    color: rgb(55, 55, 55);
  }
}
.space{
  margin-top: 35%;
  margin-left: 35%;
}
.main-image{
  height: 40vh;
  width: 80vw;
  display: block;
  padding-top: 150px;
  margin: 0 20% 0 20%;
}

.non_item{
  padding: 3vw;
  margin: 10vh 0 0 0;
  font-size: 1vw;
  width: 50vw;
  background-color: #ffffff;
  text-align: center;
  border: 1px dashed #787878;
}