.item{
  &__title{
    padding-left: 20px;
    
    &__name{
      // float: left;
      font-size: 30px;
      padding-top: 30px;
    }
    
  }
  &__image{
    height: 500px;
    width: 400px;
    background-color: red;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
  }
  &__date{
    display: flex;
    flex-direction: column;
    &__catedategory{
      float: left;
      height: 100px;
      width: 200px;
      margin-top: 24px;
      margin-left: 50px;
      background-color: #f3e300;
    }
    &__bottan{
      display: flex;
      margin-left: 50px;
      margin-top: 30px;
      &__good{
        background-color: #6ebe76;
        height: 50px;
        width: 150px;
      }
      &__shop{
        background-color: #88cfe1;
        margin-left: 60px;
        height: 50px;
        width: 150px;
      }

    }
    &__comment{
      background-color: #fff426;
      margin-left: 50px;
      margin-top: 10px;
      width: 450px;
      height: 300px;
    }
  }
  
}