.item{
  width: 100%;
  padding-top: 115px;
  &__box{
    background-color: #ffffff;
    border: 1px rgb(198, 198, 198) solid;
    color: white;
    height: 380px;
    width: 280px;
    position: relative;
    float: left;
    margin: 10px;
    &__view{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%)
      // z-index: 1;
    }
    &__category{
      position: absolute;
    }
    &__text{
      position: absolute;
      margin-top: 280px;
      font-size: 25px;
    }
    &__box{
      margin-left: 240px;
      // bottom: 350px;
    }
    &__delete{
      position: absolute;
      // z-index: 6;
      text-decoration: none;
      font-size: 2em;
      color: #bd5e8a;
    }
  }
  &__name{
    position: absolute;
    top: 340px;
    background:  #ffffff;;
    border: 1px rgb(198, 198, 198) solid;
    width: 100%;
    height: 15%;
    color: rgb(55, 55, 55);
  }
}
.space{
  margin-top: 35%;
  margin-left: 35%;
}