.side-bar{
  position: fixed;
  background-color: #f5a500;
  width: 230px;
  height: 100%;
  float: left;
  color: #19244a;

  &__user{
    // background-color:red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__name{
    }
  }

  &__menue{
    margin: 50px;
  }
}