.side-bar{
  background-color: #f5a500;
  width: 230px;
  height: 100vh;
  float: left;

  &__user{
    background-color: #dc4f03;
    height: 100px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }

  &__menue{
    margin: 50px;
    &__device{
      margin-top: 50px;
    }
  }
}